
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

$font: "Raleway", sans-serif;
$font-swiper: "Cardo", serif;

$banner-bg: rgba(37, 43, 73, 0.8);
$primary-bg: #FFFFFF;
$btn-bg: #FF4343;
$project-bg: rgba(255, 67, 67, 0.8);

$primary-color: #FFFFFF;
$secondary-color: #000000;
$benefits-title-color: #2D3033;
$benefits-text-color: #6C7279;
$card-name-color: #2D3033;
$card-position-color: #FF4343;
$card-text-color: #6C7279;
$card-border-color: #C6CBCD;
$card-color-hover: red;

$bg-swiper: #5C3249;
$pagination-color: #7E5D6F;
$bg-about: #353C65;
$icon-color-about: #C6CBCD;
$bg-footer: #2C3154;
$color-footer: #808080;

$header-border-color: #BABBC5;

$tablet: 768px;
$desktop: 1025px;

// @media screen and (min-width: $tablet) 
// @media screen and (min-width: $desktop) 

@mixin font-size ($size, $height, $weight: 400) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
}

.container {
    padding: 0 20px;
    margin: 0 auto;

    @media screen and (min-width: $desktop) {
        max-width: 1210px;
    }
}

.button {
    background-color: $btn-bg;
    color: $primary-color;
    font-family: $font;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    border: none;
}

.banner-wrapper {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
    background-image: url(/media/bg.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    position: relative;
    max-width: 100%;

    &::before {
    content: '';
    display: block;
    background-color: $banner-bg;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    }   
}

.header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 20px 0;

    @media screen and (min-width: $tablet) {
        padding: 38px 0 36px;
        border-bottom: 1px solid $header-border-color;
    }

    @media screen and (min-width: $desktop) {
        padding: 38px 0 36px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        @extend %flex-center;
        //Нужно увеличить для tablet и desktop

        @media screen and (min-width: $tablet) {
            svg {
                width: 181px;
                height: max-content;
            }
        }

        @media screen and (min-width: $desktop) {
            svg {
                width: 184px;
                height: max-content;
            }
            
        }
    }
    &__toggle {
        @extend %flex-center;

        @media screen and (min-width: $tablet) {
            display: none;
        }
    }
}

.nav {
    display: none;

    @media screen and (min-width: $tablet) {
        display: flex;
        column-gap: 25px;
    }

    @media screen and (min-width: $desktop) {
        column-gap: 40px;
    }

    &__link {
        color: $primary-color;
        text-transform: uppercase;
        text-decoration: none;
        @extend %flex-center;

        @media screen and (min-width: $tablet) {
            @include font-size (12px, 14px, 700);
        }

        @media screen and (min-width: $desktop) {
            @include font-size (13px, 15px, 700);
        }
    }
}

.banner {
    padding: 106px 0 52px;

    @media screen and (min-width: $tablet) {
        padding: 257px 0 127px;
    }

    @media screen and (min-width: $desktop) {
        padding: 230px 0 120px;
    }

    &__container {
    text-align: center;
    position: relative;
    z-index: 1;
    }
    &__title {
        color: $primary-color;
        @include font-size (36px, 42px, 900);
        margin-bottom: 41px;
        text-transform: uppercase;

        @media screen and (min-width: $tablet) {
            @include font-size (48px, 56px, 900);
            margin-bottom: 62px;
        }

        @media screen and (min-width: $desktop) {
            @include font-size (64px, 75px, 900);
            margin-bottom: 31.5px;
        }
    }
    &__text  {
        color: $primary-color;
        @include font-size (14px, 16px);
        margin-bottom: 59px;

        @media screen and (min-width: $tablet) {
            @include font-size (18px, 100%);
            margin-bottom: 89px;
        }

        @media screen and (min-width: $desktop) {
            @include font-size (24px, 100%);
            margin-bottom: 79.5px;
        }
    }
    &__btn {
        min-width: 279px;
        padding: 14px 0 16px;
        @include font-size (24px, 28px, 900);

        @media screen and (min-width: $tablet) {
            min-width: 314px;
            padding: 25px 0 27px;
        }

        @media screen and (min-width: $tablet) {
            min-width: 370px;
        }
    }
}

.benefits {
    padding: 60px 0;
    text-align: center;

    @media screen and (min-width: $tablet) {
        padding: 80px 0;
    }

    @media screen and (min-width: $desktop) {
        padding: 100px 0;
    }

    &__container {
        display: grid;
        row-gap: 41.5px;

        @media screen and (min-width: $tablet) {
            grid-template-columns: repeat(3, 1fr); 
            gap: 50px 20px;
            }

        @media screen and (min-width: $desktop) {
            display: grid;
            gap: 88.5px 31px;
            grid-template-columns: repeat(3, 1fr); 
            //не вмещаются - вернуться после fix всех элементов
            }    
        }
    
    &__wrapper-item {
        @extend %flex-center;
        margin-bottom: 37px;

        @media screen and (min-width: $tablet) {
            margin-bottom: 44.5px;
            svg {
                width: 85px;
                height: 85px;
            }
        }

        @media screen and (min-width: $desktop) {
            margin-bottom: 51px;
            svg {
                width: 100px;
                height: 100px;
            }
        }
    }
    
    &__title {
        @include font-size(18px, 21px, 900);
        color: $benefits-title-color;
        text-transform: uppercase;
        margin-bottom: 9px;

        @media screen and (min-width: $tablet) {
            @include font-size(18px, 100%, 900);
            margin-bottom: 23.5px;
        }

        @media screen and (min-width: $desktop) {
            @include font-size(24px, 28px, 900);
            margin-bottom: 42.5px;
        }
    }
    &__text {
        @include font-size(14px, 16px);
        color: $benefits-text-color;

        @media screen and (min-width: $desktop) {
            @include font-size(18px, 21px);
        }
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (min-width: $tablet) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.project {
    aspect-ratio: 1/1;
    overflow: hidden;
    border: 2px solid $primary-color;

    position: relative;

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $project-bg;
        padding: 10px;

        @extend %flex-center;
        flex-direction: column;

        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }
    &__title {
        @include font-size(18px, 21px, 900);
        color: $primary-color;
        text-transform: uppercase;
        margin-bottom: 7px;

        @media screen and (min-width: $tablet) {
            margin-bottom: 22.5px;
        }

        @media screen and (min-width: $desktop) {
            @include font-size(24px, 28px, 900);
            margin-bottom: 36.5px;
        }
    }
    &__text {
        @include font-size(14px, 16px);
        color: $primary-color;
        text-transform: capitalize;

        @media screen and (min-width: $desktop) {
            @include font-size(18px, 21px);
        }
    }
}

.cards {
    padding: 50px 0;

    @media screen and (min-width: $tablet) {
        padding: 80px 0;
    }

    @media screen and (min-width: $desktop) {
        padding: 100px 0 ;
    }

    &__container {
        display: grid;
        row-gap: 49.5px;

        @media screen and (min-width: $tablet) {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 25px;
        }

        @media screen and (min-width: $desktop) {
            column-gap: 30px;
        }
    }
}

.card {
    &__image {
        width: 100%;
        aspect-ratio: 280 / 227;
        object-fit: cover;
        object-position: center;
        margin-bottom: 25px;

        @media screen and (min-width: $tablet) {
            aspect-ratio: 1 / 1;
        }
        @media screen and (min-width: $desktop) {
            margin-bottom: 30px;
        }
    }
    &__name {
        text-transform: capitalize;
        @include font-size(18px, 21px, 700);
        color: $card-name-color;
        margin-bottom: 5px;

        @media screen and (min-width: $desktop) {
            @include font-size(24px, 28px, 700);
        }
    }
    &__position {
        text-transform: uppercase;
        @include font-size(14px, 16px);
        color: $card-position-color;
        margin-bottom: 38.5px;
        white-space: nowrap;

        @media screen and (min-width: $tablet) {
            margin-bottom: 22.5px;
            @include font-size(12px, 14px);
        }

        @media screen and (min-width: $desktop) {
            @include font-size(18px, 21px);
            margin-bottom: 18px;
        }
    }

    &__text {
        @include font-size(14px, 16px);
        color: $card-text-color;
        margin-bottom: 55px;

        @media screen and (min-width: $tablet) {
            margin-bottom: 39px;
        }

        @media screen and (min-width: $desktop) {
            @include font-size(18px, 21px);
            margin-bottom: 37.5px;
        }
    }
    &__wrapper-icon {
        display: flex;
        column-gap: 6px;
    }
    &__link {
        text-decoration: none;
        @extend %flex-center;
        width: 39.5px;
        height: 39.5px;
        border: 1px solid $card-border-color;
        transition: all .3s linear;
        
        @media screen and (min-width: $tablet) {
            width: 33px;
            height: 33px;
        }

        @media screen and (min-width: $desktop) {
            width: 39px;
            height: 39px;
        }

        &:hover {
            border-color: $card-color-hover;
            path {
                fill: $card-color-hover;
            }
        }
    }

}

.comments {
    background-color: $bg-swiper;
    padding-bottom: 95px;
    margin-bottom: 23px;

    @media screen and (min-width: $tablet) {
        padding-bottom: 0;
        // margin-bottom: 24px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 31px;
    } 
}

.comments__wrapper {
    .swiper-pagination {
        position: static;
        // margin-top: 23px;
        @extend %flex-center;
        column-gap: 20.5px;

        @media screen and (min-width: $tablet) {
            column-gap: 25px;
            // bottom: -24px;
        }

        // @media screen and (min-width: $desktop) {
        //     bottom: -31px;
        // }
    }

    .swiper-pagination-bullet {
        width: 9.5px;
        height: 9.5px;
        background-color: transparent;
        border: 1px solid $pagination-color;
        opacity: 1;
        margin: 0 !important;

        @media screen and (min-width: $desktop) {
            width: 14px;
            height: 14px;
        }
    }

    .swiper-pagination-bullet-active {
        background: $pagination-color;
        border: 1px solid $pagination-color;
        opacity: 1;
    }
}

.comment {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 25px;
    align-items: center;

    @media screen and (min-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 19px;
    }

    @media screen and (min-width: $desktop) {
        column-gap: 31px;
    }

    &__image {
        width: 100%;
        aspect-ratio: 280/218;
        object-position: center;
        object-fit: cover;

        @media screen and (min-width: $tablet) {
            aspect-ratio: 482/332;
        }

        @media screen and (min-width: $desktop) {
            aspect-ratio: 570/490;
        }
    }
    &__blockquote {
        color: $primary-color;
    }
    &__quote {
        font-family: $font-swiper;
        font-style: italic;
        @include font-size(24px, 32px);
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 15px;

        @media screen and (min-width: $tablet) {
            text-align: unset;
            margin-bottom: 8px;
        }

        @media screen and (min-width: $desktop) {
            @include font-size(39px, 49px);
            margin-bottom: 25px;
        }
    }
    &__autor {
        @include font-size(12px, 14px, 700);
        text-transform: uppercase;
        font-style: normal;

        @media screen and (min-width: $desktop) {
            @include font-size(13px, 15px, 700);
        }
    }

    
}

.action {
    padding: 53px 0;
    background-color: $primary-color;
    text-align: center;

    @media screen and (min-width: $tablet) {
            padding: 127.5px 0;
        }

    @media screen and (min-width: $desktop) {
            padding: 170px 0 170.5px;
        }

    // &__container {
    // }

    &__title {
        color: $secondary-color;
        @include font-size(18px, 21px, 500);
        text-transform: capitalize;
        margin-bottom: 12px;

        @media screen and (min-width: $tablet) {
            @include font-size(24px, 28px, 500);
            margin-bottom: 20.5px;
        }

        @media screen and (min-width: $desktop) {
            @include font-size(30px, 35px, 500);
            margin-bottom: 22px;
        }
    }
    &__text {
        color: $secondary-color;
        @include font-size(13px, 15px, 700);
        text-transform: capitalize;
        margin-bottom: 12px;

        @media screen and (min-width: $tablet) {
            @include font-size(14px, 16px, 700);
            margin-bottom: 45.5px;
        }

        @media screen and (min-width: $desktop) {
            @include font-size(18px, 21px, 700);
            margin-bottom: 50px;
        }
    }
    &__btn {
        min-width: 280px;
        padding: 28px 0;
        @include font-size (18px, 21px, 900);

        @media screen and (min-width: $tablet) {
            min-width: 565.5px;
            padding: 27.5px 0 29px;
        }

        @media screen and (min-width: $desktop) {
            min-width: 370.5px;
            padding: 23.5px 0 26px;
        }
    }
}

.about {
    padding: 34px 0;
    background-color: $bg-about;
    margin-bottom: 30px;

    @media screen and (min-width: $tablet) {
        padding: 46.5px 0 41px;
        margin-bottom: 14px;
    }

    @media screen and (min-width: $desktop) {
        padding: 71px 0;
        margin-bottom: 24px;

    }

    &__container {
        display: grid;
        row-gap: 59px;

        @media screen and (min-width: $tablet) {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 20px;
        }

        @media screen and (min-width: $desktop) {
            row-gap: 30px;
        }
    }
    &__info {
        color: $primary-color;
        text-align: center;
    }
    &__title {
        @include font-size(14px, 16px, 700);
        text-transform: uppercase;
        margin-bottom: 34px;

        @media screen and (min-width: $tablet) {
            margin-bottom: 17px;
        }

        @media screen and (min-width: $desktop) {
            @include font-size(18px, 100%, 700);
            margin-bottom: 29px;
        }
    }
    &__title_icon {
        @media screen and (min-width: $tablet) {
            margin-bottom: 32.5px;
        }

        @media screen and (min-width: $desktop) {
            margin-bottom: 49px;
        }
    }
    &__text {
        @include font-size(14px, 16px);
        text-transform: capitalize;

        @media screen and (min-width: $desktop) {
            @include font-size(18px, 100%);
        }
    }
    &__wrapper-icon {
        display: flex;
        justify-content: center;
        column-gap: 16px;
    }
    &__link {
        width: 33px;
        height: 33px;
        border: 1px solid $icon-color-about;
        @extend %flex-center;
        text-decoration: none;

        @media screen and (min-width: $desktop) {
            width: 39px;
            height: 39px;
        }
    }
    
}

.footer {
    background-color: $bg-footer;
    padding-bottom: 28px;

    @media screen and (min-width: $tablet) {
        padding-bottom: 14px;
    }

    @media screen and (min-width: $desktop) {
        padding-bottom: 24px;
    }

    &__text {
        color: $color-footer;
        @include font-size(14px, 16px);
        text-transform: capitalize;
        text-align: center;

        @media screen and (min-width: $desktop) {
            @include font-size(18px, 100%);
        }
    }

    &__span {
        color: $primary-color;
    }
}
